extends layout

block content
  div.container
    div.row
      h1 #{title}
      h1
        span(class='fa fa-lock') Authentication
      p Login or register now

      a(href='/login', class='btn btn-default')
        span(class='fa fa-user') Local Login
      a(href='/signup', class='btn btn-default')
        span(class='fa fa-user') Local Signup
