extends layout

block content
  div.container
    p #{message}
    div.row
      div.col-sm-6.col-md-4.col-md-offset-4
        h1.text-center.login-title Sing up
          div.account-wall
            form(class='form-signup', action='/signup', method='POST')
              input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
              input(type='password', name='password' class='form-control', placeholder='Password', required)
              button(class='btn btn-lg btn-primary btn-block', type='submit') Sign up
              span.clearfix
          a(href='/', class='text-center new-account') Already have an account?
          #message
          if message
            h1.text-center.error-message #{message}
        p Need and account?
          a(href='/signup') Signup